[submodule "engine/external/imgui"]
	path = engine/external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "engine/external/SDL"]
	path = engine/external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "engine/external/Vulkan-Headers"]
	path = engine/external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "engine/external/volk"]
	path = engine/external/volk
	url = https://github.com/zeux/volk.git
[submodule "engine/external/tinygltf"]
	path = engine/external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "engine/external/ktx"]
	path = engine/external/ktx
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "engine/external/glm"]
	path = engine/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/external/glslang"]
	path = engine/external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "engine/external/tracy"]
	path = engine/external/tracy
	url = https://github.com/wolfpld/tracy
