name: cpp-linter
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  cpp-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cpp-linter/cpp-linter-action@main
        id: linter
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          ignore: '.github | engine/external'
        
          style: file
          files-changed-only: false
          step-summary: true
          thread-comments: true

      - name: Fail fast?!
        if: steps.linter.outputs.checks-failed != 0
        run: exit 1